name: marlin_auto_build

on:
  workflow_dispatch:
  push:
    paths:
      - 'builds/**'
  schedule:
    - cron:  '30 3 1 * *'

jobs:
  create_builds:
    runs-on: ubuntu-latest 
    steps:
    - uses: zisismaras/marlin_auto_build@v1

    - name: Upload firmware as workflow artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: |
          **/*.bin
